sudo: required
services:
  - docker

before_install:
  - docker build -t backpack812/docker-react -f Dockerfile.dev .


script:
  - docker run backpack812/docker-react npm run test -- --coverage --watch=false